{# {% extends 'base.html.twig' %} #}
{% extends 'comun/comun.html.twig' %}
{# {% block header %}{{include('comun/header.php')}}{% endblock %} #}

{% block body2 %}
    <div id="central" class="centralTablas">
            <div id="add2">
                {# ? <h3>AÑADIR</h3> #}
                {% block titulo %}{% endblock %}
                {# ? <button class="btn btn-success">AÑADIR USUARIO</button> #}
                {% block btn %}{% endblock %}
            </div>
            <div id="formAddAndModify">
                <form action="" method="POST">
                    {# ? <div class="formDataAAM">
                        <label for="pregunta"><b class="obligatoryField">*</b> Preguntas</label>
                        <input type="text" name="pregunta" id="pregunta">
                    </div>
                    <div class="formDataAAM">
                        <label for="respuesta"><b class="obligatoryField">*</b> Respuesta</label>
                        <input type="text" name="respuesta" id="respuesta">
                    </div> #}
                    {% block data %}{% endblock %}
                </form>
            </div>
        </div>
{% endblock %}
{% block javascript %}
    const usuario = document.querySelector("#administrarUsuario");
    usuario.addEventListener("click",()=>{
        {# location.href = "usuarios"; #}
        alert("Añadir usuario");
    });
{% endblock %}