{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div id="divLogin">
        <form action="{{ path('app_login') }}" method="post" id="formLogin">
            
            <div class="opcionesLogin">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>

            <div class="opcionesLogin">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/>
            </div>

            {% if error %}
                <div id="loginError">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# If you want to control the URL the user is redirected to on success #}
            <input type="hidden" name="_target_path" value="{{ path('home') }}"/>

            <button type="submit" class="btn btn-success">Iniciar Sesion</button>
        </form>
    </div>
{% endblock %}
