{% extends 'acciones/index.html.twig' %}

{% block titulo %}<h3>AÑADIR</h3>{% endblock %}
{% block btn %}<button class="btn btn-success">AÑADIR USUARIO</button>{% endblock %}

{% block data %}
    <div class="formDataAAM">
        <label for="usuario"><b class="obligatoryField">*</b> Usuario</label>
        <input type="text" name="usuario" id="usuario">
    </div>
    <div class="formDataAAM">
        <label for="password"><b class="obligatoryField">*</b> Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div class="formDataAAM">
        <label for="tipo"><b class="obligatoryField">*</b> Tipo</label>
        <select name="tipo" id="tipo">
            <option value="0">···</option>
            <option value="usuario">Usuario</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <div class="formDataAAM">
        <label for="nombre"><b class="obligatoryField">*</b> Nombre</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <div class="formDataAAM">
        <label for="apellidos"><b class="obligatoryField">*</b> Apellidos</label>
        <input type="text" name="apellidos" id="apellidos">
    </div>
    <div class="formDataAAM">
        <label for="correo"><b class="obligatoryField">*</b> Correo</label>
        <input type="email" name="correo" id="correo">
    </div>
{% endblock %}
