{% extends 'base.html.twig' %}
{% block body %}
    <div id="login">
        <form id="loginForm" method="post">
            <div class="loginData">
                <label for="user">Usuario</label>
                <input type="text" name="user" id="user" class="input-success">
            </div>
            <div class="loginData">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input-danger">
            </div>
            <div class="loginData">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="input-success">
            </div>
            <div id="loginbtn">
                <input type="submit" value="Registrarse" class="btn btn-success">
                <input type="submit" value="Ya tengo cuenta" class="btn btn-danger" id="cuentaOn">
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    const boton = document.querySelector("#cuentaOn");
    boton.addEventListener("click",()=>{
        location.href = "/"
    });
{% endblock %}
