{# {% extends 'base.html.twig' %} #}
{% extends 'comun/comun.html.twig' %}
{# {% block header %}{{include('comun/header.php')}}{% endblock %} #}
{% block clasePregunta1 %}activeLink{% endblock %}
{% block clasePregunta %}class="activeLink"{% endblock %}
{% block body2 %}
    <div id="central" class="centralTablas">
            <div id="add">
                <button class="btn btn-success" id="administrarPreguntas">AÑADIR PREGUNTA</button>
            </div>
            <div id="tablaData">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>PREGUNTA</th>
                        <th>RESPUESTA</th>
                        <th>EDITAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                    {% for valor in indice %}
                        <tr>
                            <td>{{valor.id}}</td>
                            <td>{{valor.pregunta}}</td>
                            <td>{{valor.respuesta}}</td>
                            <td>
                                <span class="material-icons-outlined">
                                    settings
                                </span>
                            </td>
                            <td>
                                <span class="material-icons-outlined">
                                    delete
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}
{% block javascript %}
    const preguntas = document.querySelector("#administrarPreguntas");
    preguntas.addEventListener("click",()=>{
        location.href = "add-preguntas";
        {# alert("Añadir usuario"); #}
    });
{% endblock %}