{% extends 'acciones/index.html.twig' %}

{% block titulo %}<h3>AÑADIR</h3>{% endblock %}
{% block btn %}<button class="btn btn-success">AÑADIR USUARIO</button>{% endblock %}

{% block data %}
    <div class="formDataAAM">
        <label for="pregunta"><b class="obligatoryField">*</b> Preguntas</label>
        <input type="text" name="pregunta" id="pregunta">
    </div>
    <div class="formDataAAM">
        <label for="respuesta"><b class="obligatoryField">*</b> Respuesta</label>
        <input type="text" name="respuesta" id="respuesta">
    </div>
{% endblock %}