{% extends 'acciones/index.html.twig' %}

{% block titulo %}<h3>AÑADIR</h3>{% endblock %}
{% block btn %}<button class="btn btn-success">AÑADIR USUARIO</button>{% endblock %}

{% block data %}
    <div class="formDataAAM">
        <label for="nombre"><b class="obligatoryField">*</b> Nombre</label>
        <input type="text" name="nombre" id="nombre">
    </div>
    <div class="formDataAAM">
        <label for="marca"><b class="obligatoryField">*</b> Marca</label>
        <input type="text" name="marca" id="marca">
    </div>
    <div class="formDataAAM">
        <label for="tipo"><b class="obligatoryField">*</b> Tipo</label>
        <input type="text" name="tipo" id="tipo">
    </div>
    <div class="formDataAAM">
        <label for="descripcionC"><b class="obligatoryField">*</b> Descripción Corta</label>
        <textarea name="descripcionC" id="descripcionC" cols="30" rows="10"></textarea>
    </div>
    <div class="formDataAAM">
        <label for="descripcionL"><b class="obligatoryField">*</b> Descripción Larga</label>
        <textarea name="descripcionL" id="descripcionL" cols="30" rows="10"></textarea>
    </div>
    <div class="formDataAAM">
        <label for="precio"><b class="obligatoryField">*</b> Precio</label>
        <input type="number" name="precio" id="precio">
    </div>
    <div class="formDataAAM">
        <label for="deporte"><b class="obligatoryField">*</b> Deporte</label>
        <select name="deporte" id="deporte">
            <option value="0">···</option>
            <option value="usuario">Futbol</option>
            <option value="baloncesto">Baloncesto</option>
            <option value="running">Running</option>
            <option value="voleibol">Voleibol</option>
        </select>
    </div>
    <div class="formDataAAM">
        <label for="disponibilidad"><b class="obligatoryField">*</b> Disponibilidad</label>
        <select name="disponibilidad" id="disponibilidad">
            <option value="0">···</option>
            <option value="D">D</option>
            <option value="A">A</option>
        </select>
    </div>
    <div class="formDataAAM">
        <label for="imagen"><b class="obligatoryField">*</b> Imagen</label>
        <input type="file" name="imagen" id="imagen">
    </div>
{% endblock %}
