{% extends 'base.html.twig' %}
{% block title %} Días de la semana {% endblock %}{#reescribo el título del base con
las instrucciones siguientes#}
{% block body %}{#reescribo el body del base con las instrucciones siguientes#}
    <p> los días de la semana son :</P>
    <ol> {#imprime los días de la semana en una lista ordenada#}
    {% for day in indice%}{#El recurso que paso es el indice del array del controlador#}
        <li>{{ day|upper}}</li>{#El valor que visualizo le aplico upper para verlo en
        mayúsculas#}
    {% endfor %}
    </ol>
{% endblock %}